.main-frame {
    height: 100%;
}

.App {
    padding: 100px 50px 50px 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.App--loading {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}